
#contenedor{
  border:5px solid gold;
  background-color: gray;
  text-align: center;
  display:grid;
  grid-gap: 5px;
  width: 1250px;
  grid-template-rows:   50px 100px 100px 50px;
  grid-template-columns:100px 100px 100px 100px 200px 200px 100px 100px 100px 100px;
  grid-template-areas:" h h h h h h h h h h"
                      " d1 d1 d2 d2 c1 c1 d3 d3 d4 d4 "
                      " d1 d1 d2 d2 c2 c2 d3 d3 d4 d4 "
                      " . s1 s1 . btn1 btn1 . s2 s2 ."
  ;
}

#headerdados{grid-area:h; background-color:darkgrey; color:gold; font-size: 250%;}
#btn1{grid-area : btn1;}
#btn2{grid-area : btn2;}
#contador1{grid-area : c1; background-color:darkgrey ;border: 1px solid white; color : white;}
#contador2{grid-area : c2; background-color:darkgrey ;border: 1px solid white; color : white;}

#dado1{grid-area : d1; height:200px; width:200px; border:2px solid black; border-radius: 3px;}
#dado2{grid-area : d2; height:200px; width:200px; border:2px solid black; border-radius: 3px;}
#dado3{grid-area : d3; height:200px; width:200px; border:2px solid black; border-radius: 3px;}
#dado4{grid-area : d4; height:200px; width:200px; border:2px solid black; border-radius: 3px;}

#suma1{background-color:darkgrey; grid-area: s1; overflow: scroll;}
#suma2{background-color:darkgrey; grid-area: s2; overflow: scroll;}

#suma1::-webkit-scrollbar {
  display: none;
}

#suma2::-webkit-scrollbar {
  display: none;
}

