#cont{ 
        background-color: #404040;
        display: grid;
        grid-template-rows: 100px 300px 300px 100px;
        grid-template-columns: 100px auto  auto 100px;
        grid-template-areas: "h h h h"
                             ". ent ent  ."
                             ". com com ."
                             "ab ab ab ab" ;}

#ContEnt{grid-area: ent; background-color: grey;  overflow: scroll; color :white;}
#ContCom{grid-area: com; background-color: grey;  overflow: scroll; color :white;}
#btnaburro{grid-area: ab;background-color: #0D0D0D; color :white; text-align: center; padding-top: 10px;}
header{grid-area: h;background-color: #0D0D0D; color :white; display: flex;}
.entrada {background-color: #BFBFBF; width: 800px; height: 200px; color: black; margin: 10px; border: black 1px solid; padding: 10px;}
#entrada {margin: 10px; }
#logo {width: 850px;}
#comentario {}
.comentario {background-color: #aaa5a5; width: 800px; height: 200px; color: black; margin: 10px; border: black 1px solid; padding: 10px;}


/*Este es el estilo de la pagina de juegos*/
#ContendeorJuegos{ 
    background-color:white;
    display: grid;
    grid-template-rows:  100px 200px 200px 100px;
    grid-template-columns: 100px 400px 400px 100px; 
    grid-template-areas: ". . . ."
                         ". J1 J2 ."
                         ". J3 J4 ."
                         ". . . .";
    grid-gap: 30px;
    width: auto;
    height: auto;
}
#ItemJuego1{ grid-area: J1; background-image: url("Recursos/calcuadora.jpg");}
#ItemJuego2{ grid-area: J2; background-image: url("Recursos/dados.jpg");}
#ItemJuego3{ grid-area: J3; background-image: url("Recursos/memoria.jpg")}
#ItemJuego4{ grid-area: J4;background-image: url("Recursos/chistes.jpg")}
